<% @title="Error" %>
<div id="errorPage">
  <div class="slab">
    <%= render 'shared/error_card', error_title: 'Upload error', error_message: "Apologies, we weren't able to read the file you uploaded", show_emoji: true%>
    <div class="row">
      <div class="col-sm-2">
        <button id='errorButton' class="pattern__button margin-left" @click='toggle()'>
          More information<i v-bind:class="[isOpen ? 'icon-arrow_drop_up' : 'icon-arrow_drop_down']"></i>
        </button>
      </div>
    </div>
    <div id="errorContent" v-show="isOpen">
      <% if @rap_sheet_parse_error %>
        <p class="rap-sheet-debug-page-marker">Error!</p>
        <p>There was a problem parsing your RAP sheet. Here's some technical details:</p>
        <pre class="rap-sheet-debug-backtrace"><%= @rap_sheet_parse_error.message %><%= "\n\n" %><%= @wrapped_error.application_trace.join("\n") %></pre>
      <% else %>
        <h1>Here is your rap sheet:</h1>
      <% end %>

      <%= link_to(download_summary_rap_sheet_documents_path(@rap_sheet), data: { turbolinks: false }) do %>
        Download RAP sheet summary
      <% end %>

      <% if @conviction_events.present? %>
        <p class="rap-sheet-debug-page-marker">Convictions:</p>
        <div class="border">
          <table>
            <thead>
            <tr>
              <th>Date</th>
              <th>Case#</th>
              <th>Courthouse</th>
              <th>Sentence</th>
              <th>Counts</th>
            </tr>
            </thead>
            <tbody>
            <% @conviction_events.each do |conviction_event| %>
              <tr>
                <td style="white-space: nowrap;"><%= conviction_event.date %></td>
                <td><%= conviction_event.case_number %></td>
                <td><%= conviction_event.courthouse %></td>
                <td><%= conviction_event.sentence %></td>
                <td>
                  <ul>
                    <% conviction_event.counts.each do |count| %>
                      <li><%= "#{ count.code_section} --- #{count.code_section_description }" %></li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <% @rap_sheet.rap_sheet_pages.each.with_index do |r, i| %>
        <p class="rap-sheet-debug-page-marker">Page <%= i + 1 %>:</p>
        <pre><%= r.text %></pre>
      <% end %>
    </div>
  </div>
</div>

<script>
  new Vue({
      el: '#errorPage',
      data: {
          isOpen: false
      },
      methods: {
          toggle: function () {
              this.isOpen = !this.isOpen
          }
      }
  })
</script>




