<div class="container">
  <h1 class="mt-5">
    Good news, you might be eligible to clear
    <mark><%= pluralize(@number_of_eligible_counts, 'conviction') %></mark>
    on your record!
  </h1>

  <p> There are different forms of record clearance. Here’s what we can help you with:</p>
  <% @remedies.each do |remedy| %>
    <% if @eligible_counts[remedy[:key]].present? %>
      <div class="card mb-3">
        <div class="card-body">
          <h2><%= @eligible_counts[remedy[:details_page_remedy_string]]%> <%= pluralize(@eligible_counts[remedy[:key]].length, @eligible_counts[remedy[:details_page_toc_string]]) %></h2>
          <p>If the judge approves, these offenses will be <%= @eligible_counts[remedy[:details_page_if_judge_approval]] %></p>
          <ul>
            <% @eligible_events.each do |event| %>
              <% event[remedy[:key]][:counts].each do |conviction_count| %>
                <li><%= "#{conviction_count.code_section_description} on #{event[:event].date.strftime('%m/%d/%Y')} in #{event[:event].courthouse}" %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'Next →', edit_user_contact_information_path(@rap_sheet.user), class: 'btn btn-info mt-3' %>
  <%= link_to 'Debug', debug_rap_sheet_path(@rap_sheet), class: 'btn btn-info mt-3' %>
</div>
