<div class="container">
  <h1 class="mt-5">
    Good news, you might be eligible to clear <mark><%= pluralize(@rap_sheet.num_convictions, 'conviction') %></mark> on your record!
  </h1>

  <p> There are different forms of record clearance. Here’s what we can help you with:</p>

  <div class="card">
    <div class="card-body">
      <h2>We can help you apply to change <%= pluralize(@rap_sheet.dismissible_convictions.length, 'conviction') %></h2>
      <% if @rap_sheet.dismissible_convictions.length > 0 %>
        <ul>
          <% @rap_sheet.dismissible_convictions.each do |conviction_count| %>
            <li><%= "#{conviction_count.code_section_description} - #{conviction_count.prop64_action}" %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <%= link_to 'Next →', edit_user_contact_information_path(@rap_sheet.user), class: 'btn btn-info mt-3' %>
  <%= link_to 'Debug', debug_rap_sheet_path(@rap_sheet), class: 'btn btn-info mt-3' %>
</div>
