<div class="container">
  <h1>Someday, documents will be on this page</h1>
  <div><strong>Name:</strong> <%= @user.full_name %></div>
  <div><strong>Street Address:</strong> <%= @user.street_address %></div>
  <div><strong>City:</strong> <%= @user.city %> <strong>State:</strong> <%= @user.state %> <strong>Zip Code:</strong> <%= @user.zip_code %></div>
  <div><strong>Telephone No:</strong> <%= @user.phone_number %></div>
  <div><strong>Email Address:</strong> <%= @user.email %></div>
</div>
