<div class="container">
  <h1 class="mt-5 font-weight-normal">Add a photo for
    <span class="font-weight-bold">
      <%= "page #{@rap_sheet_page.page_number}" %>
    </span>
    <%= "of #{@rap_sheet.number_of_pages}" %>
  </h1>
  <%= form_for @rap_sheet_page, html: { multipart: true } do |f| %>
    <label for="rap_sheet_page_rap_sheet_page_image" class="mt-3 btn btn-info">+ add photo</label>
    <%= f.file_field :rap_sheet_page_image, accept: 'image/*', capture: 'camera', class: 'hidden' %>
    <%= f.hidden_field :rap_sheet_id %>
    <div>
      <%= f.submit 'Upload', class: 'hidden' %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <hr>
    </div>
  </div>
  <p>You need <%= pluralize(@rap_sheet.number_of_pages - @rap_sheet_page.page_number + 1, "more photo") %></p>
  <% (1..@rap_sheet.number_of_pages).each do |page_number| %>
    <%= content_tag :div, class: "mr-2 page-indicator #{@rap_sheet_page.page_number > page_number ? 'completed' : ''}" do %>
      <%= page_number %>
    <% end %>
  <% end %>
</div>
