<div class="container">
  <% if @rap_sheet.num_convictions > 0 %>
    <h1 class="mt-5">We found <mark><%= pluralize(@rap_sheet.num_convictions, 'conviction') %></mark> on your record.</h1>
    <ul>
      <% if @rap_sheet.num_felonies > 0 %>
        <li><%= pluralize(@rap_sheet.num_felonies, 'Felony') %></li>
      <% end %>
      <% if @rap_sheet.num_misdemeanors > 0 %>
        <li><%= pluralize(@rap_sheet.num_misdemeanors, 'Misdemeanor') %></li>
      <% end %>
      <% if @rap_sheet.num_unknown > 0 %>
        <li><%= pluralize(@rap_sheet.num_unknown, 'Unknown') %></li>
      <% end %>
    </ul>

    <div class="row">
      <div class="col-sm-2">
        <%= link_to 'Next →', details_rap_sheet_path(@rap_sheet), class: 'btn btn-info btn-block' %>
      </div>
    </div>
  <% else %>
    <h1 class="mt-5">Good news, we didn't find any convictions on your record!</h1>

    <p>This means you don't need to apply for record clearance because you have no convictions to clear.</p>

    <div class="row">
      <div class="col-sm-2">
        <%= link_to 'Done', root_path, class: 'btn btn-info btn-block' %>
      </div>
    </div>
  <% end %>
</div>
