<div class="slab">
  <div class="form-card">
    <% if @conviction_counts.length > 0 %>
      <header class="form-card__header text--centered">
        <h1 class="big-emoji">😀</h1>
        <h3>We found <%= pluralize(@number_of_eligible_counts, 'conviction') %> that may be eligible for record clearance.</h3>
      </header>
      <% if @eligible_counts[:prop64].present? %>
        <h2>Prop 64 (<%= @eligible_counts[:prop64].length %>)</h2>
        <% @eligible_prop64_events.each do |courthouse, events| %>
          <%= render 'summary_table', remedy: :prop64, courthouse: courthouse, events: events %>
        <% end %>
      <% end %>

      <% if @eligible_counts[:pc1203].present? %>
        <h2>1203.4 mandatory dismissal (<%= @eligible_counts[:pc1203].length %>)</h2>
        <% @eligible_pc1203_events.each do |courthouse, events| %>
          <%= render 'summary_table', remedy: :pc1203, courthouse: courthouse, events: events %>
        <% end %>
      <% end %>
      <div class="form-card__footer">
        <%= link_to 'Next →', after_show_path, class: 'button button--primary' %>
      </div>
    <% else %>
      <h1 class="mt-5">Good news, we didn't find any convictions on your record!</h1>

      <p>This means you don't need to apply for record clearance because you have no convictions to clear.</p>

      <div class="row">
        <div class="col-sm-2">
          <%= link_to 'Done', root_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
