<% @title="Summary Report" %>
<div class="slab">
  <div class="form-card formatted-form-card">
    <header class="form-card__header text--centered">
      <h1 class="big-emoji">😀</h1>
      <h3>We found <%= pluralize(@number_of_eligible_counts, 'conviction') %> that may be eligible for record clearance.</h3>
      <%= link_to 'View full transcript', transcript_rap_sheet_path(@rap_sheet)%>

    </header>

    <div class="summary-table">
      <table>
        <% @eligible_events_by_remedy.each do |key, grouped_events| %>
          <% if grouped_events.present? %>
            <tr><th class="major-header" colspan="5"> <%= @remedy_names[key] %> (<%= @eligible_counts[key].length %>)</th></tr>
            <% grouped_events.each do |courthouse, events| %>
              <%= render 'summary_table_rows', remedy: key, courthouse: courthouse, events: events %>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="form-card__footer">
      <%= link_to 'Next →', new_user_legal_representations_path(@rap_sheet.user), class: 'button button--primary' %>
    </div>
  </div>
</div>
