<div class="container">
  <% if @conviction_counts.length > 0 %>
    <h1 class="mt-5">We found <mark><%= pluralize(@conviction_counts.length, 'conviction') %></mark> on your record.</h1>
    <ul>
      <% if @conviction_counts.severity_felony.count > 0 %>
        <li><%= pluralize(@conviction_counts.severity_felony.count, 'Felony') %></li>
      <% end %>
      <% if @conviction_counts.severity_misdemeanor.count > 0 %>
        <li><%= pluralize(@conviction_counts.severity_misdemeanor.count, 'Misdemeanor') %></li>
      <% end %>
      <% if @conviction_counts.severity_unknown.count > 0 %>
        <li><%= pluralize(@conviction_counts.severity_unknown.count, 'Unknown') %></li>
      <% end %>
    </ul>

    <div class="row">
      <div class="col-sm-2">
        <%= link_to 'Next →', after_show_path, class: 'btn btn-info btn-block' %>
      </div>
    </div>
  <% else %>
    <h1 class="mt-5">Good news, we didn't find any convictions on your record!</h1>

    <p>This means you don't need to apply for record clearance because you have no convictions to clear.</p>

    <div class="row">
      <div class="col-sm-2">
        <%= link_to 'Done', root_path, class: 'btn btn-info btn-block' %>
      </div>
    </div>
  <% end %>
</div>
