<div class="slab">
  <div class="form-card">
    <header class="form-card__header text--centered">
      <h1 class="big-emoji">😀</h1>
      <h3>We found <%= pluralize(@number_of_eligible_counts, 'conviction') %> that may be eligible for record clearance.</h3>
    </header>

    <% @eligible_events_by_remedy.each do |key, grouped_events| %>
      <% if grouped_events.present? %>
        <h2> <%= @remedy_names[key] %> (<%= @eligible_counts[key].length %>)</h2>
        <% grouped_events.each do |courthouse, events| %>
          <%= render 'summary_table', remedy: key, courthouse: courthouse, events: events %>
        <% end %>
      <% end %>
    <% end %>

    <div class="form-card__footer">
      <%= link_to 'Next →', edit_user_contact_information_path(@rap_sheet.user), class: 'button button--primary' %>
    </div>
  </div>
</div>
