<% @title = "Transcript" %>
<div class="slab">
  <header>
    <%= link_to '< Back to eligibility summary', rap_sheet_path(@rap_sheet) %>
    <h2>Transcription</h2>
  </header>

  <table class="data-table">
    <thead>
    <tr>
      <th>Date</th>
      <th>County</th>
      <th>Case Number</th>
      <th>Grade</th>
      <th>Charge</th>
      <th>Probation</th>
      <th>Prison</th>
    </tr>
    </thead>
    <tbody>
    <% @convictions.each do |conviction| %>
      <% conviction.counts.each_with_index do |count, i| %>
        <% sentence = count.disposition&.sentence %>
        <tr class=<%= 'divider' if i==0 %>>
          <td><%= conviction.date || '—' %></td>
          <td><%= conviction.courthouse  || '—' %></td>
          <td><%= conviction.case_number ? "##{conviction.case_number}" : '—' %></td>
          <td><%= count.disposition&.severity %></td>
          <td><%= count.code_section || '—' %></td>
          <td><%= sentence&.probation ? "#{sentence.probation.parts.values[0]} #{sentence.probation.parts.keys[0]}" : '—'  %></td>
          <td><%= sentence&.prison ? "#{sentence.prison.parts.values[0]} #{sentence.prison.parts.keys[0]}" : '—'  %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
