<% @title = "Transcript" %>
<div class="slab">
  <header>
    <%= link_to '< Back to eligibility summary', rap_sheet_path(@rap_sheet) %>
    <h2>Transcription</h2>
  </header>

  <table class="data-table">
    <thead>
    <tr>
      <th>Date</th>
      <th>County</th>
      <th>Case Number</th>
      <th>Grade</th>
      <th>Charge</th>
      <th>Probation</th>
      <th>Prison</th>
    </tr>
    </thead>
    <tbody>
    <% @transcript.rows.each do |row| %>
      <tr class=<%= 'divider' if row[:first_row_in_case?] %>>
        <td><%= row[:date] %></td>
        <td><%= row[:courthouse] %></td>
        <td><%= row[:case_number] %></td>
        <td><%= row[:severity] %></td>
        <td><%= row[:code_section] %></td>
        <td><%= row[:probation] %></td>
        <td><%= row[:prison] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
