<div class="container">
  <h1 class="mt-5">Financial Information</h1>
  <hr>
  <p>Some courts require that you pay up to $300 per petition to clear your record. This information will only be used
    by the court to check if you qualify for a fee waiver.</p>
  <hr>

  <%= form_for @user.financial_information, url: user_benefits_path(@user), method: :post do |f| %>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label :benefits_programs, 'Are you on any of the following public benefit programs? (select all that apply)' %>
          <div>
            <%= f.collection_check_boxes(:benefits_programs, FinancialInformation::BENEFITS_TYPES, :first, :second) do |el| %>
              <%= el.label class:'boolean-choice' do%>
                <%=el.check_box + el.text%>
              <%end%>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit 'Next →', class: 'btn btn-info' %>
  <% end %>
</div>
