<div class="container">
  <h1 class="mt-5">Case Information</h1>

  <hr>

  <%= form_for @form, url: user_case_information_path(@user), method: :put, html: { class: 'disable-until-required' } do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :on_parole, 'Are you currently on parole?' %>
          <%= render 'shared/yes_no_radio', f: f, field: :on_parole, required: true %>
        </div>
        <div class="form-group">
          <%= f.label :on_probation, 'Are you currently on probation?' %>
          <%= render 'shared/yes_no_radio', f: f, field: :on_probation, required: true %>
        </div>
        <%= content_tag :div, class: "form-group #{f.object.on_probation ? '' : 'hidden'}", data: { visible_by: 'case_information_form[on_probation]' } do %>
          <%= f.label :finished_half_of_probation, 'If you are currently on probation, have you finished at least half of your probation sentence?' %>
          <%= render 'shared/yes_no_radio', f: f, field: :finished_half_of_probation, required: true %>
        <% end %>
        <div class="form-group">
          <%= f.label :outstanding_warrant, 'Do you currently have any warrants?' %>
          <%= render 'shared/yes_no_radio', f: f, field: :outstanding_warrant, required: true %>
        </div>
        <div class="form-group">
          <%= f.label :owe_fees, 'Do you currently owe any court fines or fees?' %>
          <%= render 'shared/yes_no_radio', f: f, field: :owe_fees, required: true %>
        </div>
      </div>
    </div>

    <% if @form.errors.count > 0 %>
      <div id="error_explanation">
        <h2><%= pluralize(@form.errors.count, "error") %> prohibited this case information from being saved:</h2>

        <ul>
          <% @form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.submit 'Next →', class: 'btn btn-info' %>
  <% end %>
</div>
