<% @title="Client Details" %>
<div id='clientInformation' class="slab">
  <div class="form-card form-card--narrow">
    <%= form_for @form, url: user_contact_information_path(@user), method: :put do |f| %>
      <header class="form-card__header small_padding_bottom">
        <h2 class="form-card__title">Enter client's personal details</h2>
        <p class="text--small">This information will be used to fill out court paperwork.</p>
      </header>
      <div>
        <div class="form-group">
          <%= f.label :name, "Name", class: "form-question" %>
          <%= f.text_field :name, class: "text-input form-width--long" %>
        </div>
      </div>
      <div class="form-group">
        <div><%= f.label :date_of_birth %></div>
        <div class="date-select-row">
          <div class="select">
          <%= f.date_select :date_of_birth, {
              include_blank: true,
              date_separator: '</div><div class="select">',
              start_year: 100.years.ago.year,
              end_year: 5.years.ago.year,
              with_css_classes: true,
              order: [:month, :day, :year]
          }, {
                                class: 'form-control date-select select__element'
                            } %>
          </div>
        </div>
      </div>
      <div id="user_address">
        <div class="form-card__content">
          <div class="form-group">
            <%= f.label :street_address, "Street address", class: "form-question" %>
            <%= f.text_field :street_address, class: "text-input form-width--long" %>
          </div>
        </div>
				<div class="grid">
					<div class="form-card__content">
						<div class="input-group--inline">
							<div class="input">
								<%= f.label :city, "City", class: "form-question" %>
								<%= f.text_field :city, class: "text-input form-width--city" %>
							</div>
							<div class="input">
								<%= f.label :state, "State", class: "form-question" %>
								<%= f.text_field :state, class: "text-input form-width--state" %>
							</div>
							<div class="input">
								<%= f.label :zip, "Zip", class: "form-question" %>
								<%= f.text_field :zip, class: "text-input form-width--zip" %>
							</div>
						</div>
					</div>
				</div>
      </div>
      <div class="form-card__content">
        <div class="form-group">
          <%= f.label :phone_number, "Phone number", class: "form-question" %>
          <%= f.text_field :phone_number, class: "text-input form-width--long" %>
        </div>
      </div>
      <div class="form-card__content">
        <div class="form-group">
          <%= f.label :email, "Email address", class: "form-question" %>
          <%= f.text_field :email, class: "text-input form-width--long" %>
        </div>
      </div>
      <div>
        <%= f.label :preferred_contact_method, "Client's preferred contact method", class: "form-question" %>
        <p class="text--help">We may may follow up with clients to make sure they have succesfully filed their
          documents.
          We will never give a client's personal information to third parties or law enforcement.</p>
        <label for="contact_information_form_prefer_email" class="checkbox">
          <%= f.check_box :prefer_email, class: "pointer_cursor"%>
          Email
        </label>
        <label for="contact_information_form_prefer_text" class="checkbox">
          <%= f.check_box :prefer_text, class: "pointer_cursor"%>

          Text message
        </label>
      </div>
      <div class="form-card__footer">
        <%= f.submit 'Next →', class: 'button button--primary' %>
        <%= link_to(new_user_legal_representations_path(@user), class: 'button', method: :post) do %>
          Cancel
        <% end %>
      </div>
    <% end %>
  </div>
</div>



<% if @form.errors.count > 0 %>
  <div id="error_explanation">
    <h2><%= pluralize(@form.errors.count, "error") %> prohibited this contact information from being saved:</h2>

    <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

