<div class="container">
  <h1 class="mt-5">Done!</h1>

  <p>Download and print your paperwork</p>

  <hr>

  <p>Here's what paperwork we filled out for you:</p>

  <% if @rap_sheet.conviction_counts.dismissible_by_strategy(Prop64Classifier).length > 0 %>
    <div class="card mb-3">
      <div class="card-body">
        <h2><%= pluralize(@rap_sheet.conviction_counts.dismissible.events.length, 'petition') %> to clear these marijuana convictions:</h2>
        <ul>
          <% @rap_sheet.conviction_counts.dismissible_by_strategy(Prop64Classifier).each do |count| %>
            <li><%= "#{count.code_section_description} on #{count.event.date.strftime('%m/%d/%Y')} in #{count.event.courthouse}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @rap_sheet.conviction_counts.dismissible_exclusively_by_strategy(PC1203Classifier).length > 0 %>
    <div class="card mb-3">
      <div class="card-body">
        <h2><%= pluralize(@rap_sheet.conviction_counts.dismissible_exclusively_by_strategy(PC1203Classifier).length, 'petition') %> to dismiss these convictions:</h2>
        <ul>
          <% @rap_sheet.conviction_counts.dismissible_exclusively_by_strategy(PC1203Classifier).each do |count| %>
            <li><%= "#{count.code_section_description} on #{count.event.date.strftime('%m/%d/%Y')} in #{count.event.courthouse}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <%= link_to '✓ download paperwork', download_rap_sheet_documents_path(@rap_sheet), class: 'btn btn-info mt-3', data: { turbolinks: false } %>
</div>
