<div class="container">
  <h1 class="mt-5">Done!</h1>

  <p>Download and print your paperwork</p>

  <hr>

  <p>Here's what paperwork we filled out for you:</p>

  <% if @prop64_events.present? %>
    <div class="card mb-3">
      <div class="card-body">
        <h2><%= pluralize(@prop64_events.length, 'petition') %> to clear these marijuana convictions:</h2>
        <ul>
          <% @prop64_events.each do |event| %>
            <% event[:prop64][:counts].each do |count| %>
              <li><%= "#{count.code_section_description} on #{event[:event].date.strftime('%m/%d/%Y')} in #{event[:event].courthouse}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @pc1203_events.present? %>
    <div class="card mb-3">
      <div class="card-body">
        <h2><%= pluralize(@pc1203_events.length, 'petition') %> to dismiss these convictions:</h2>
        <ul>
          <% @pc1203_events.each do |event| %>
            <% event[:pc1203][:counts].each do |count| %>
              <li><%= "#{count.code_section_description} on #{event[:event].date.strftime('%m/%d/%Y')} in #{event[:event].courthouse}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <%= link_to '✓ download paperwork', download_rap_sheet_documents_path(@rap_sheet), class: 'btn btn-info mt-3', data: { turbolinks: false } %>
</div>
