<div id="vue-app-div" class="container">
  <h1 class="mt-5 font-weight-normal">Upload a PDF of your RAP sheet</h1>
  <p>Make sure your PDF includes all pages of your RAP sheet.</p>

  <%= form_for :rap_sheet_pdf, url: rap_sheet_pdf_index_path, method: :post, html: { multipart: true } do |f| %>
    <div class="card">
      <div class="card-content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= content_tag :div, class: 'rap-sheet-page-row' do %>
              <div class="rap-sheet-page-number-column">
                <%= content_tag :div, class: 'mr-2 page-indicator', 'v-bind:class': '{completed: selectedFile}' do %>
                <% end %>
              </div>
              <div class="rap-sheet-page-content">
                <div v-if="selectedFile">PDF added</div>
                <div v-else>Add a file</div>
                <div v-if="selectedFile">{{ selectedFile }}</div>
                <label v-show="!selectedFile" class="mt-1 btn btn-info btn-sm">
                  Browse
                  <%= f.file_field :pdf_file, { accept: 'document/pdf', class: 'hidden', 'v-on:change': 'fileInputChanged' } %>
                </label>
              </div>
              <div class="rap-sheet-page-delete" v-if='selectedFile'>
                <a v-on:click='clearFileInput'>×</a>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <p class="mt-4" v-if="!selectedFile">
      Add a file from your computer before proceeding.
    </p>
    <%= f.submit 'Next →', class: 'btn btn-info mt-2', 'v-bind:disabled': '!selectedFile' %>
  <% end %>
</div>

<script>
  var store = {
    selectedFile: null
  };

  new Vue({
    el: '#vue-app-div',
    data: store,
    methods: {
      fileInputChanged: function (event) {
        store.selectedFile = event.target.files[0].name
      },
      clearFileInput: function () {
        store.selectedFile = null;
      }
    }

  });
</script>
